*{
    padding: 0;
    margin: 0;
}

header{
    margin-top: 0px;
    text-align: center;
    background-image: url("Future Seeing(Dark).jpeg");
    width: 100%;
    height: 30px;
    color: white;
    background-color: black;
    display: flex;
    font-size: 20px;
}

section.Title{
    margin-top: 60px;
    text-align: center;
    font-size: 100px;
    background-color: white;
    color:black;
}

section.News{
    text-align: right;
    background-color: white;
    color:black;
}
section.HyperLinks{
    text-align: center;
    background-image: url("Future Seeing(Light).jpeg");
    background-color: white;
    background-size: cover;
}

h1.bigger{
    font-size: 100px;
}

footer{
    text-align: center;
    background-image: url("Future Seeing(Dark).jpeg");
    background-size: cover;
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
}
